<%
var col1width="12"
var col2width="3"
 if(tipo==1){
    col1width="12"
}else{
    col1width="9"
}%>
<div class="col-md-<%=col1width%>">
    <div class="table-responsive" >
        <table class="table table-bordered nowrap tblcontrol" width="100%">
            <%
             for(tr=1;tr<=10;tr++){%>
             <tr>
                <%
                tdini=(tr<10)?0:1;
                tdfin=tdini+9;
                col=(tr==10)?(tr-10):tr;
                for(td=tdini;td< tdfin;td++){
                    xy=(td.toString())+col.toString();
                    
                    numero=parseInt(xy);
                    var n=numeros.where({numero:numero})
                    var classtd=(n.length>0)?'activo':''
                    %>
                    <td id="td-<%=numero%>" class="<%=classtd%>"><%=xy%></td>
                    <%
                }
                %></tr><%
             }
            %>
        </table>
    </div>
</div>
<% if(tipo==2){ %>
<div class="col-md-<%=col2width%>">
    <div class="row">
        <div id="mainbody" style="text-align: center">
            <div id="camera2"></div>
        </div>
    </div>                       
  <div class="row">
    <div class="form-group">
        <label for="cameraselect">seleccione camara</label>
        <select class="form-control" id="cameraselect">
        <% for (c=0;c < camaras.length;c++){ 
        %>         
            <option value="<%=camaras[c].get('deviceId')%>"><%=camaras[c].get('label')%></option>        
        <%}%>        
        </select>
    </div>
    <div class="form-group">
        <button type="button" id="stopstart"  class="btn btn-xm btn-primary" evento="stopped">play/stop</button>
    </div>
    
  </div>
</div>
<%}%>
