 <!-- begin col-12 -->
        <div class="col-md-12" id="data-table-empresa">  
            <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">                 
                 <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Empresas alta/modificación</h4></div>             
                   <div class="panel-body" id="panel-body-empresa-abm">
                        <form class="form-horizontal form-bordered" action="/" method="POST">
                            <fieldset>
                            <legend id="legend-empresa">Datos de la empresa</legend>
                            <div class="form-group">                                                                
                                 <div class="col-md-4">
                                    <label for="inpempresa">Nombre
                                    <input type="text" class="form-control" id="inpempresa" placeholder="nombre empresa" value="<%=empresa.get('empresa')%>"  />
                                    </label>
                                 </div>                                 
                                 <div class="col-md-4">
                                    <label for="inpcuil">Cuil
                                    <input type="number" class="form-control" id="inpcuil" placeholder="cuil"  value="<%=empresa.get('cuitl')%>" />
                                    </label>
                                 </div>  
                                 <div class="col-md-4">
                                    <label for="inptelefono">telefono
                                    <input type="text" class="form-control" id="inptelefono" placeholder="" value="<%=empresa.get('telefono')%>"  />
                                    </label>
                                 </div>                         
                            </div>
                            <div class="form-group">                                                                
                                 <div class="col-md-4">
                                    <label for="inpprovincia_empresa">Provincia</label>
                                         <select id="inpprovincia_empresa" name="inp_provincia"  class="form-control" >
                                            <% 
                                            for(i in oprovincias.models){
                                            var prov=oprovincias.models[i]
                                            %><option value="<%=prov.get('id_pro')%>"><%=prov.get('descripcion_pro')%></option>
                                            <%
                                            }
                                            %>
                                         </select>
                                 </div>                                 
                                 <div class="col-md-4">
                                    <label for="inplocalidad">Localidad
                                    </label>
                                     <select id="inplocalidades" name="inplocalidades"  class="form-control" >
                                     </select>
                                 </div>  
                                 <div class="col-md-4">
                                    <label for="inpdireccion">Dirección
                                    <input type="text" class="form-control" id="inpdireccion" placeholder=""  value="<%=empresa.get('direccion')%>"  />
                                    </label>
                                 </div>                         
                            </div>
                            <div class="form-group">                                                                
                                 <div class="col-md-2">
                                    <label for="inphabilitado">Habilitado                              
                                    <%
                                    var checked=(empresa.get('habilitado')==1)?"checked":""
                                    %>      
                                     <input type="checkbox"  id="inphabilitado"  class="form-control" checked="<%=checked%>" />
                                     </label>
                                 </div>  
                                 <div class="col-md-2">
                                    <label for="inpingresosbrutos">Ingresos Brutos
                                    <input type="text" class="form-control" id="inpingresosbrutos"  value="<%=empresa.get('ingresos_brutos')%>" />
                                    </label>
                                 </div>
                                 <div class="col-md-3">
                                    <label for="inpinicioactividades">Inicio de actividades
                                    <input type="text" class="form-control" id="inpinicioactividades" value="<%=empresa.get('inicio_actividades')%>" />
                                    </label>
                                 </div> 
                                 <div class="col-md-3">
                                    <label for="inpcondiva">Condicion iva
                                    <select id="inpcondiva" name="inpcondiva"  class="form-control" >
                                         <% 
                                            for(i in ocondiciones_iva.models){
                                            var cond=ocondiciones_iva.models[i]
                                            %><option value="<%=cond.get('id_cond_iva')%>"><%=cond.get('condicion')%>(<%=cond.get('comp_tipo')%>)</option>
                                            <%
                                            }
                                            %>
                                     </select>
                                    </label>
                                 </div>
                                 <div class="col-md-2">
                                    <label for="inppage">Pagina
                                         <input type="text" class="form-control" id="inppage" value="<%=empresa.get('page')%>" />
                                    </label>
                                 </div>                        
                            </div>

                              <div class="form-group">                                                                
                                 <div class="col-lg-12">
                                    <label for="inplogo">Logo (160 x 70)</label>
                                         <img src="<%=empresa.get('logo')%>" alt="logo de empresa" id="inpimglogo" class="img-fluid img-thumbnail"  title="imagen" style="height: 100px;width: auto" />
                                        <input type="file" id="inplogo"   accept="image/*"  />
                                 </div>                                                                  
                            </div>
                            </fieldset> 

                            <fieldset>
                            <legend id="legend-variables">Variables de la pagina</legend>
                            <%
                            var datos_pagina=empresa.get('datos_pagina')
                           
                            %>
                            <div class="form-group">                                                                
                                 <div class="col-md-4">
                                    <label for="inpmetaautor">Nombre a mostrar(meta_autor)
                                    <input type="text" class="form-control" id="inpmetaautor" placeholder="nombre " value="<%=datos_pagina.get('meta_autor')%>" />
                                    </label>
                                 </div>                                 
                                 <div class="col-md-3">
                                    <label for="inpmeta_keywords">meta_keywords
                                    <input type="text" class="form-control" id="inpmeta_keywords" placeholder="" value="<%=datos_pagina.get('meta_keywords')%>"  />
                                    </label>
                                 </div> 
                                 <div class="col-md-3">
                                    <label for="inptitle_page">Titulo de la pagina(meta title_page)
                                    <input type="text" class="form-control" id="inptitle_page" placeholder=""  value="<%=datos_pagina.get('title_page')%>" />
                                    </label>
                                 </div> 
                                 <div class="col-md-2">
                                    <label for="inptitulo">Titulo principal
                                    <input type="text" class="form-control" id="inptitulo" placeholder="ingrese nombre " value="<%=datos_pagina.get('titulo')%>" />
                                    </label>
                                 </div>                                                            
                            </div>
                            <div class="form-group">                                               
                                 <div class="col-md-4">
                                    <label for="inpfb_page">facebook (fb_page)
                                    <input type="text" class="form-control" id="inpfb_page" placeholder="" value="<%=datos_pagina.get('fb_page')%>"  />
                                    </label>
                                 </div> 
                                 <div class="col-md-4">
                                    <label for="inptwiter_page">twiter (twiter_page)
                                    <input type="text" class="form-control" id="inptwiter_page" placeholder=""  value="<%=datos_pagina.get('twiter_page')%>"  />
                                    </label>
                                 </div>
                                 <div class="col-md-4">
                                    <label for="inpinstagram_page">instagram (instagram_page)
                                    <input type="text" class="form-control" id="inpinstagram_page" placeholder="" value="<%=datos_pagina.get('instagram_page')%>"  />
                                    </label>
                                 </div>                                                            
                            </div>
                            <div class="form-group">             
                                 <div class="col-md-2">
                                    <label for="inpgoogle_ads_cliente">google_ads_cliente
                                    <input type="text" class="form-control" id="inpgoogle_ads_cliente" placeholder="" value="<%=datos_pagina.get('google_ads_cliente')%>"  />
                                    </label>
                                 </div>                                 
                                 <div class="col-md-2">
                                    <label for="inpfb_page_id">fb_page_id
                                    <input type="text" class="form-control" id="inpfb_page_id" placeholder="" value="<%=datos_pagina.get('fb_page_id')%>"  />
                                    </label>
                                 </div>  
                                  <div class="col-md-8">
                                    <label for="inpslogan">Eslogan de la web
                                    <input type="text" class="form-control" id="inpslogan" placeholder="" value="<%=datos_pagina.get('slogan')%>"  />
                                    </label>
                                 </div>                                                         
                            </div>
                             <div class="form-group">                                               
                                 <div class="col-md-3">
                                    <label for="inplocalidadcontacto">Localidad mostrar (Contacto)
                                    <input type="text" class="form-control" id="inplocalidadcontacto" placeholder="" value="<%=datos_pagina.get('localidad')%>"   />
                                    </label>
                                 </div> 
                                 <div class="col-md-3">
                                    <label for="inpprovinciacontacto">Provincia mostrar (Contacto)
                                    <input type="text" class="form-control" id="inpprovinciacontacto" placeholder="" value="<%=datos_pagina.get('provincia')%>"  />
                                    </label>
                                 </div>
                                 <div class="col-md-3">
                                    <label for="inpcodigo_postal_contacto">Cod postal(Contacto)
                                    <input type="text" class="form-control" id="inpcodigo_postal_contacto" placeholder="" value="<%=datos_pagina.get('codigo_postal')%>"   />
                                    </label>
                                 </div> 
                                  <div class="col-md-3">
                                    <label for="inpdireccion_contacto">Dirección(Contacto)
                                    <input type="text" class="form-control" id="inpdireccion_contacto" placeholder=""  value="<%=datos_pagina.get('direccion')%>"  />
                                    </label>
                                 </div>                                                             
                            </div>
                            <div class="form-group"> 
                                 <div class="col-md-3">
                                    <label for="inpemail">Email
                                    <input type="text" class="form-control" id="inpemail" placeholder="" value="<%=datos_pagina.get('email')%>"   />
                                    </label>
                                 </div>                                               
                                 <div class="col-md-3">
                                    <label for="inpemail_host">Host Email
                                    <input type="text" class="form-control" id="inpemail_host" placeholder="" value="<%=datos_pagina.get('email_host')%>"  />
                                    </label>
                                 </div> 
                                 <div class="col-md-2">
                                    <label for="inpemail_pto">Puerto Email 
                                    <input type="number" class="form-control" id="inpemail_pto" placeholder="" value="<%=datos_pagina.get('email_pto')%>"   />
                                    </label>
                                 </div>
                                 <div class="col-md-1">
                                    <label for="inpssl">Ssl  
                                    <%  checked=(datos_pagina.get('email_ssl')==1)?"checked":""%>
                                    <input type="checkbox" id="inpssl" class="form-control" checked="<%=checked%>" >
                                    </label>
                                 </div>
                                  <div class="col-md-2">
                                    <label for="inpemail_pwd">Clave 
                                    <input type="number" class="form-control" id="inpemail_pwd" placeholder="" value="<%=datos_pagina.get('email_pwd')%>"   />
                                    </label>
                                 </div>
                            </div>
                             <div class="form-group"> 
                                <div class="col-md-3">
                                    <label for="inpprovincia_default">Provincia Default
                                    <select class="form-control" id="inpprovincia_default"></select>
                                    </label>
                                 </div>
                                 <div class="col-md-3">
                                    <label for="inplocalidad_default">Localidad Default
                                    <select class="form-control" id="inplocalidad_default"></select>
                                    </label>
                                 </div>  
                            </div>

                            </fieldset> 

                             <fieldset>
                            <legend id="legend-variables-conf">Variables de configuración general</legend>
                            <%
                             var configuracion=empresa.get('configuracion')
                            %>
                            <div class="form-group">                                                                
                                 <div class="col-md-4">
                                    <label for="inptotal_max_comp_c">Monto max. comprobante C
                                    <input type="number" class="form-control" id="inptotal_max_comp_c" placeholder="nombre "  />
                                    </label>
                                 </div>                                 
                                 <div class="col-md-4">
                                    <label for="inpmp_token_access">Mercado pago token Access
                                    <input type="text" class="form-control" id="inpmp_token_access" placeholder=""   />
                                    </label>
                                 </div> 
                                 <div class="col-md-2">
                                    <label for="inpmp_modo_produccion">MP producción
                                    <input type="checkbox" class="form-control" id="inpmp_modo_produccion"   />
                                    </label>
                                 </div> 
                                
                            </div>
                            <div class="form-group">
                                 <div class="col-md-2">
                                    <label for="inplog_activo">Log Activo
                                    <input type="checkbox" class="form-control" id="inplog_activo"   />
                                    </label>
                                 </div> 
                                 <div class="col-md-2">
                                    <label for="inporden_pedido">Orden pedido
                                    <input type="checkbox" class="form-control" id="inporden_pedido"   />
                                    </label>
                                 </div> 
                                 <div class="col-md-2">
                                    <label for="inpcomprobantes">Comprobantes
                                    <input type="checkbox" class="form-control" id="inpcomprobantes"   />
                                    </label>
                                 </div>
                                  <div class="col-md-2">
                                    <label for="inpguardar_compra">Guardar Compra
                                    <input type="checkbox" class="form-control" id="inpguardar_compra"   />
                                    </label>
                                 </div>
                            </div>
                            </fieldset>                           
                                                        
                            </form>
                            </div>
           </div>
        </div>
        <!-- end col-12 -->